In [2]:
import pandas as pd
import numpy as np

In [3]:
file =('path_of_excel_file')
data = pd.read_excel('Grades.xlsx')
data

,Id,Name,Gender,Subject1 Marks,Subject2 Marks,Subject3 Marks,Subject4 Marks,Subject5 Marks,Subject6 Marks
0,1,Klaus,Male,77,41,49,42.0,52.0,17
1,2,Elijah,Male,35,48,33,42.0,60.0,88
2,3,Rebekah,Female,39,59,31,43.0,54.0,20
3,4,Caroline,Female,81,55,59,43.0,60.0,76
4,5,Haily,Female,82,56,50,43.0,45.0,16
5,6,Elena,Female,85,42,47,43.0,41.0,89
6,7,Bonnie,Female,83,50,51,44.0,NaN,?
7,8,Ester,Female,63,46,69,44.0,46.0,78
8,9,Finn,Male,41,43,27,NaN,51.0,1
9,10,Tsunade,Female,96,48,53,46.0,46.0,73
10,11,Jiraya,Male,30,52,70,46.0,56.0,35
11,12,Sakura,Female,64,54,19,46.0,55.0,83
12,13,hinata,Female,44,42,67,47.0,52.0,?
13,14,himawari,Female,40,46,54,47.0,59.0,93
14,15,Boruto,Male,77,48,63,48.0,51.0,26
15,16,Thomas Shelby,Male,71,50,18,48.0,59.0,75
16,17,Linda,Female,66,43,43,48.0,50.0,20
17,18,Aurthur,Male,41,59,68,48.0,48.0,95
18,19,Jackson,Male,86,43,19,48.0,59.0,27
19,20,Veronica,Female,59,57,32,48.0,47.0,63
20,21,Naruto,Male,96,56,70,49.0,55.0,13
21,22,Sasuke,Male,40,40,47,49.0,42.0,75
22,23,Sarada,Female,97,58,60,50.0,49.0,10
23,24,Minato,Male,65,91,60,50.0,56.0,92
24,25,Kushina,Female,57,29,59,54.0,47.0,13
25,26,Hashirama,Male,56,77,26,54.0,54.0,86
26,27,Chio,Female,32,35,45,54.0,53.0,15
27,28,Gara,Male,76,95,40,54.0,48.0,69
28,29,Ino,Female,35,11,23,54.0,52.0,14
29,30,Hope,Female,75,75,49,54.0,42.0,90
30,31,Kol,Male,82,?,57,54.0,51.0,32
31,32,Katherine,Female,64,75,38,54.0,55.0,86
32,33,Damon,Male,95,34,67,54.0,41.0,15
33,34,Stefan,Male,45,71,46,54.0,44.0,88
34,35,Nicko Robin,Female,66,5,21,54.0,57.0,39
35,36,Nami,Female,82,88,?,54.0,46.0,97
36,37,Boa Hancock,Female,98,7,50,57.0,58.0,24
37,38,Chloe,Female,92,73,22,57.0,55.0,68
38,39,Mia,Female,85,10,34,58.0,60.0,17
39,40,Ella Lopez,Female,93,72,50,58.0,46.0,85
40,41,Trixie,Female,51,5,68,59.0,55.0,23
41,42,Lufy,Male,62,93,18,59.0,41.0,69
42,43,Zoro,Male,85,40,48,60.0,49.0,8
43,44,Jasmine,Female,67,87,40,60.0,40.0,91
44,45,Lilly,Female,64,12,32,60.0,42.0,16
45,46,Davina,Female,39,97,24,60.0,52.0,79
46,47,Freya,Female,63,36,47,60.0,47.0,28
47,48,Camila,Female,57,74,27,60.0,50.0,74
48,49,Sophie,Female,45,22,48,61.0,42.0,18
49,50,Mary,Female,45,90,20,61.0,49.0,83

In [4]:
data.head()

,Id,Name,Gender,Subject1 Marks,Subject2 Marks,Subject3 Marks,Subject4 Marks,Subject5 Marks,Subject6 Marks
0,1,Klaus,Male,77,41,49,42.0,52.0,17
1,2,Elijah,Male,35,48,33,42.0,60.0,88
2,3,Rebekah,Female,39,59,31,43.0,54.0,20
3,4,Caroline,Female,81,55,59,43.0,60.0,76
4,5,Haily,Female,82,56,50,43.0,45.0,16

In [5]:
data.tail()

,Id,Name,Gender,Subject1 Marks,Subject2 Marks,Subject3 Marks,Subject4 Marks,Subject5 Marks,Subject6 Marks
45,46,Davina,Female,39,97,24,60.0,52.0,79
46,47,Freya,Female,63,36,47,60.0,47.0,28
47,48,Camila,Female,57,74,27,60.0,50.0,74
48,49,Sophie,Female,45,22,48,61.0,42.0,18
49,50,Mary,Female,45,90,20,61.0,49.0,83

In [6]:
names=data.iloc[:,0:3]
names

    Id           Name  Gender
0    1          Klaus    Male
1    2         Elijah    Male
2    3        Rebekah  Female
3    4       Caroline  Female
4    5          Haily  Female
5    6          Elena  Female
6    7         Bonnie  Female
7    8          Ester  Female
8    9           Finn    Male
9   10        Tsunade  Female
10  11         Jiraya    Male
11  12         Sakura  Female
12  13         hinata  Female
13  14       himawari  Female
14  15         Boruto    Male
15  16  Thomas Shelby    Male
16  17          Linda  Female
17  18        Aurthur    Male
18  19        Jackson    Male
19  20       Veronica  Female
20  21         Naruto    Male
21  22         Sasuke    Male
22  23         Sarada  Female
23  24         Minato    Male
24  25        Kushina  Female
25  26      Hashirama    Male
26  27           Chio  Female
27  28           Gara    Male
28  29            Ino  Female
29  30           Hope  Female
30  31            Kol    Male
31  32      Katherine  Female
32  33          Damon    Male
33  34         Stefan    Male
34  35    Nicko Robin  Female
35  36           Nami  Female
36  37    Boa Hancock  Female
37  38          Chloe  Female
38  39            Mia  Female
39  40     Ella Lopez  Female
40  41         Trixie  Female
41  42           Lufy    Male
42  43           Zoro    Male
43  44        Jasmine  Female
44  45          Lilly  Female
45  46         Davina  Female
46  47          Freya  Female
47  48         Camila  Female
48  49         Sophie  Female
49  50           Mary  Female

In [7]:
df= data.drop(labels=["Id","Name", "Gender"], axis=1)

In [8]:
df['Subject1 Marks'] = pd.to_numeric(df['Subject1 Marks'], downcast='float', errors='coerce')
df['Subject2 Marks'] = pd.to_numeric(df['Subject2 Marks'],downcast='float', errors='coerce')
df['Subject3 Marks'] = pd.to_numeric(df['Subject3 Marks'],downcast='float', errors='coerce')
df['Subject4 Marks'] = pd.to_numeric(df['Subject4 Marks'],downcast='float', errors='coerce')
df['Subject5 Marks'] = pd.to_numeric(df['Subject5 Marks'],downcast='float', errors='coerce')
df['Subject6 Marks'] = pd.to_numeric(df['Subject6 Marks'],downcast='float', errors='coerce')

In [9]:
df

,Subject1 Marks,Subject2 Marks,Subject3 Marks,Subject4 Marks,Subject5 Marks,Subject6 Marks
0,77.0,41.0,49.0,42.0,52.0,17.0
1,35.0,48.0,33.0,42.0,60.0,88.0
2,39.0,59.0,31.0,43.0,54.0,20.0
3,81.0,55.0,59.0,43.0,60.0,76.0
4,82.0,56.0,50.0,43.0,45.0,16.0
5,85.0,42.0,47.0,43.0,41.0,89.0
6,83.0,50.0,51.0,44.0,NaN,NaN
7,63.0,46.0,69.0,44.0,46.0,78.0
8,41.0,43.0,27.0,NaN,51.0,1.0
9,96.0,48.0,53.0,46.0,46.0,73.0
10,30.0,52.0,70.0,46.0,56.0,35.0
11,64.0,54.0,19.0,46.0,55.0,83.0
12,44.0,42.0,67.0,47.0,52.0,NaN
13,40.0,46.0,54.0,47.0,59.0,93.0
14,77.0,48.0,63.0,48.0,51.0,26.0
15,71.0,50.0,18.0,48.0,59.0,75.0
16,66.0,43.0,43.0,48.0,50.0,20.0
17,41.0,59.0,68.0,48.0,48.0,95.0
18,86.0,43.0,19.0,48.0,59.0,27.0
19,59.0,57.0,32.0,48.0,47.0,63.0
20,96.0,56.0,70.0,49.0,55.0,13.0
21,40.0,40.0,47.0,49.0,42.0,75.0
22,97.0,58.0,60.0,50.0,49.0,10.0
23,65.0,91.0,60.0,50.0,56.0,92.0
24,57.0,29.0,59.0,54.0,47.0,13.0
25,56.0,77.0,26.0,54.0,54.0,86.0
26,32.0,35.0,45.0,54.0,53.0,15.0
27,76.0,95.0,40.0,54.0,48.0,69.0
28,35.0,11.0,23.0,54.0,52.0,14.0
29,75.0,75.0,49.0,54.0,42.0,90.0
30,82.0,NaN,57.0,54.0,51.0,32.0
31,64.0,75.0,38.0,54.0,55.0,86.0
32,95.0,34.0,67.0,54.0,41.0,15.0
33,45.0,71.0,46.0,54.0,44.0,88.0
34,66.0,5.0,21.0,54.0,57.0,39.0
35,82.0,88.0,NaN,54.0,46.0,97.0
36,98.0,7.0,50.0,57.0,58.0,24.0
37,92.0,73.0,22.0,57.0,55.0,68.0
38,85.0,10.0,34.0,58.0,60.0,17.0
39,93.0,72.0,50.0,58.0,46.0,85.0
40,51.0,5.0,68.0,59.0,55.0,23.0
41,62.0,93.0,18.0,59.0,41.0,69.0
42,85.0,40.0,48.0,60.0,49.0,8.0
43,67.0,87.0,40.0,60.0,40.0,91.0
44,64.0,12.0,32.0,60.0,42.0,16.0
45,39.0,97.0,24.0,60.0,52.0,79.0
46,63.0,36.0,47.0,60.0,47.0,28.0
47,57.0,74.0,27.0,60.0,50.0,74.0
48,45.0,22.0,48.0,61.0,42.0,18.0
49,45.0,90.0,20.0,61.0,49.0,83.0

In [10]:
df.isnull().any()

Subject1 Marks    False
Subject2 Marks     True
Subject3 Marks     True
Subject4 Marks     True
Subject5 Marks     True
Subject6 Marks     True
dtype: bool

In [11]:
df[['Subject2 Marks','Subject3 Marks','Subject4 Marks','Subject5 Marks','Subject6 Marks']] = df[['Subject2 Marks','Subject3 Marks','Subject4 Marks','Subject5 Marks','Subject6 Marks']].fillna(value=df[['Subject2 Marks','Subject3 Marks','Subject4 Marks','Subject5 Marks','Subject6 Marks']].mean())
df

,Subject1 Marks,Subject2 Marks,Subject3 Marks,Subject4 Marks,Subject5 Marks,Subject6 Marks
0,77.0,41.000000,49.000000,42.000000,52.000000,17.000000
1,35.0,48.000000,33.000000,42.000000,60.000000,88.000000
2,39.0,59.000000,31.000000,43.000000,54.000000,20.000000
3,81.0,55.000000,59.000000,43.000000,60.000000,76.000000
4,82.0,56.000000,50.000000,43.000000,45.000000,16.000000
5,85.0,42.000000,47.000000,43.000000,41.000000,89.000000
6,83.0,50.000000,51.000000,44.000000,50.387756,51.916668
7,63.0,46.000000,69.000000,44.000000,46.000000,78.000000
8,41.0,43.000000,27.000000,51.836735,51.000000,1.000000
9,96.0,48.000000,53.000000,46.000000,46.000000,73.000000
10,30.0,52.000000,70.000000,46.000000,56.000000,35.000000
11,64.0,54.000000,19.000000,46.000000,55.000000,83.000000
12,44.0,42.000000,67.000000,47.000000,52.000000,51.916668
13,40.0,46.000000,54.000000,47.000000,59.000000,93.000000
14,77.0,48.000000,63.000000,48.000000,51.000000,26.000000
15,71.0,50.000000,18.000000,48.000000,59.000000,75.000000
16,66.0,43.000000,43.000000,48.000000,50.000000,20.000000
17,41.0,59.000000,68.000000,48.000000,48.000000,95.000000
18,86.0,43.000000,19.000000,48.000000,59.000000,27.000000
19,59.0,57.000000,32.000000,48.000000,47.000000,63.000000
20,96.0,56.000000,70.000000,49.000000,55.000000,13.000000
21,40.0,40.000000,47.000000,49.000000,42.000000,75.000000
22,97.0,58.000000,60.000000,50.000000,49.000000,10.000000
23,65.0,91.000000,60.000000,50.000000,56.000000,92.000000
24,57.0,29.000000,59.000000,54.000000,47.000000,13.000000
25,56.0,77.000000,26.000000,54.000000,54.000000,86.000000
26,32.0,35.000000,45.000000,54.000000,53.000000,15.000000
27,76.0,95.000000,40.000000,54.000000,48.000000,69.000000
28,35.0,11.000000,23.000000,54.000000,52.000000,14.000000
29,75.0,75.000000,49.000000,54.000000,42.000000,90.000000
30,82.0,51.836735,57.000000,54.000000,51.000000,32.000000
31,64.0,75.000000,38.000000,54.000000,55.000000,86.000000
32,95.0,34.000000,67.000000,54.000000,41.000000,15.000000
33,45.0,71.000000,46.000000,54.000000,44.000000,88.000000
34,66.0,5.000000,21.000000,54.000000,57.000000,39.000000
35,82.0,88.000000,44.040817,54.000000,46.000000,97.000000
36,98.0,7.000000,50.000000,57.000000,58.000000,24.000000
37,92.0,73.000000,22.000000,57.000000,55.000000,68.000000
38,85.0,10.000000,34.000000,58.000000,60.000000,17.000000
39,93.0,72.000000,50.000000,58.000000,46.000000,85.000000
40,51.0,5.000000,68.000000,59.000000,55.000000,23.000000
41,62.0,93.000000,18.000000,59.000000,41.000000,69.000000
42,85.0,40.000000,48.000000,60.000000,49.000000,8.000000
43,67.0,87.000000,40.000000,60.000000,40.000000,91.000000
44,64.0,12.000000,32.000000,60.000000,42.000000,16.000000
45,39.0,97.000000,24.000000,60.000000,52.000000,79.000000
46,63.0,36.000000,47.000000,60.000000,47.000000,28.000000
47,57.0,74.000000,27.000000,60.000000,50.000000,74.000000
48,45.0,22.000000,48.000000,61.000000,42.000000,18.000000
49,45.0,90.000000,20.000000,61.000000,49.000000,83.000000

In [12]:
l1=[]
for i in df['Subject1 Marks']:
    if(i>=80 and i<=100):
        l1.append("O")
    elif(i>=70 and i<=79):
        l1.append("A+")
    elif(i>=60 and i<=69):
        l1.append("A")   
    elif(i>=55 and i<=59):
        l1.append("B+")  
    elif(i>=50 and i<=54):
        l1.append("B")  
    elif(i>=45 and i<=49):
        l1.append("C")
    elif(i>=40 and i<=44):
        l1.append("P")
    elif(i>=0 and i<=39):
        l1.append("F")

In [13]:
l2=[]
for i in df['Subject2 Marks']:
    if(int(i)>=80 and int(i)<=100):
        l2.append("O")
    elif(int(i)>=70 and int(i)<=79):
        l2.append("A+")
    elif(int(i)>=60 and int(i)<=69):
        l2.append("A")   
    elif(int(i)>=55 and int(i)<=59):
        l2.append("B+")  
    elif(int(i)>=50 and int(i)<=54):
        l2.append("B")  
    elif(int(i)>=45 and int(i)<=49):
        l2.append("C")
    elif(int(i)>=40 and int(i)<=44):
        l2.append("P")
    elif(int(i)>=0 and int(i)<=39):
        l2.append("F")

In [14]:
l3=[]
for i in df['Subject3 Marks']:
    if(int(i)>=80 and int(i)<=100):
        l3.append("O")
    elif(int(i)>=70 and int(i)<=79):
        l3.append("A+")
    elif(int(i)>=60 and int(i)<=69):
        l3.append("A")   
    elif(int(i)>=55 and int(i)<=59):
        l3.append("B+")  
    elif(int(i)>=50 and int(i)<=54):
        l3.append("B")  
    elif(int(i)>=45 and int(i)<=49):
        l3.append("C")
    elif(int(i)>=40 and int(i)<=44):
        l3.append("P")
    elif(int(i)>=0 and int(i)<=39):
        l3.append("F")

In [15]:
l4=[]
for i in df['Subject4 Marks']:
    if(int(i)>=80 and int(i)<=100):
        l4.append("O")
    elif(int(i)>=70 and int(i)<=79):
        l4.append("A+")
    elif(int(i)>=60 and int(i)<=69):
        l4.append("A")   
    elif(int(i)>=55 and int(i)<=59):
        l4.append("B+")  
    elif(int(i)>=50 and int(i)<=54):
        l4.append("B")  
    elif(int(i)>=45 and int(i)<=49):
        l4.append("C")
    elif(int(i)>=40 and int(i)<=44):
        l4.append("P")
    elif(int(i)>=0 and int(i)<=39):
        l4.append("F")

In [16]:
l5=[]
for i in df['Subject5 Marks']:
    if(int(i)>=80 and int(i)<=100):
        l5.append("O")
    elif(int(i)>=70 and int(i)<=79):
        l5.append("A+")
    elif(int(i)>=60 and int(i)<=69):
        l5.append("A")   
    elif(int(i)>=55 and int(i)<=59):
        l5.append("B+")  
    elif(int(i)>=50 and int(i)<=54):
        l5.append("B")  
    elif(int(i)>=45 and int(i)<=49):
        l5.append("C")
    elif(int(i)>=40 and int(i)<=44):
        l5.append("P")
    elif(int(i)>=0 and int(i)<=39):
        l5.append("F")

In [17]:
l6=[]
for i in df['Subject6 Marks']:
    if(int(i)>=80 and int(i)<=100):
        l6.append("O")
    elif(int(i)>=70 and int(i)<=79):
        l6.append("A+")
    elif(int(i)>=60 and int(i)<=69):
        l6.append("A")   
    elif(int(i)>=55 and int(i)<=59):
        l6.append("B+")  
    elif(int(i)>=50 and int(i)<=54):
        l6.append("B")  
    elif(int(i)>=45 and int(i)<=49):
        l6.append("C")
    elif(int(i)>=40 and int(i)<=44):
        l6.append("P")
    elif(int(i)>=0 and int(i)<=39):
        l6.append("F")

In [18]:
d1=pd.DataFrame(l1)
g1=d1.rename(columns={0:"Grade for sub1"})
d2=pd.DataFrame(l2)
g2=d2.rename(columns={0:"Grade for sub2"})
d3=pd.DataFrame(l3)
g3=d3.rename(columns={0:"Grade for sub3"})
d4=pd.DataFrame(l4)
g4=d4.rename(columns={0:"Grade for sub4"})
d5=pd.DataFrame(l5)
g5=d5.rename(columns={0:"Grade for sub5"})
d6=pd.DataFrame(l6)
g6=d6.rename(columns={0:"Grade for sub6"})

In [19]:
d=pd.concat([df,g1,g2,g3,g4,g5,g6],axis=1)
d

,Subject1 Marks,Subject2 Marks,Subject3 Marks,Subject4 Marks,Subject5 Marks,Subject6 Marks,Grade for sub1,Grade for sub2,Grade for sub3,Grade for sub4,Grade for sub5,Grade for sub6
0,77.0,41.000000,49.000000,42.000000,52.000000,17.000000,A+,P,C,P,B,F
1,35.0,48.000000,33.000000,42.000000,60.000000,88.000000,F,C,F,P,A,O
2,39.0,59.000000,31.000000,43.000000,54.000000,20.000000,F,B+,F,P,B,F
3,81.0,55.000000,59.000000,43.000000,60.000000,76.000000,O,B+,B+,P,A,A+
4,82.0,56.000000,50.000000,43.000000,45.000000,16.000000,O,B+,B,P,C,F
5,85.0,42.000000,47.000000,43.000000,41.000000,89.000000,O,P,C,P,P,O
6,83.0,50.000000,51.000000,44.000000,50.387756,51.916668,O,B,B,P,B,B
7,63.0,46.000000,69.000000,44.000000,46.000000,78.000000,A,C,A,P,C,A+
8,41.0,43.000000,27.000000,51.836735,51.000000,1.000000,P,P,F,B,B,F
9,96.0,48.000000,53.000000,46.000000,46.000000,73.000000,O,C,B,C,C,A+
10,30.0,52.000000,70.000000,46.000000,56.000000,35.000000,F,B,A+,C,B+,F
11,64.0,54.000000,19.000000,46.000000,55.000000,83.000000,A,B,F,C,B+,O
12,44.0,42.000000,67.000000,47.000000,52.000000,51.916668,P,P,A,C,B,B
13,40.0,46.000000,54.000000,47.000000,59.000000,93.000000,P,C,B,C,B+,O
14,77.0,48.000000,63.000000,48.000000,51.000000,26.000000,A+,C,A,C,B,F
15,71.0,50.000000,18.000000,48.000000,59.000000,75.000000,A+,B,F,C,B+,A+
16,66.0,43.000000,43.000000,48.000000,50.000000,20.000000,A,P,P,C,B,F
17,41.0,59.000000,68.000000,48.000000,48.000000,95.000000,P,B+,A,C,C,O
18,86.0,43.000000,19.000000,48.000000,59.000000,27.000000,O,P,F,C,B+,F
19,59.0,57.000000,32.000000,48.000000,47.000000,63.000000,B+,B+,F,C,C,A
20,96.0,56.000000,70.000000,49.000000,55.000000,13.000000,O,B+,A+,C,B+,F
21,40.0,40.000000,47.000000,49.000000,42.000000,75.000000,P,P,C,C,P,A+
22,97.0,58.000000,60.000000,50.000000,49.000000,10.000000,O,B+,A,B,C,F
23,65.0,91.000000,60.000000,50.000000,56.000000,92.000000,A,O,A,B,B+,O
24,57.0,29.000000,59.000000,54.000000,47.000000,13.000000,B+,F,B+,B,C,F
25,56.0,77.000000,26.000000,54.000000,54.000000,86.000000,B+,A+,F,B,B,O
26,32.0,35.000000,45.000000,54.000000,53.000000,15.000000,F,F,C,B,B,F
27,76.0,95.000000,40.000000,54.000000,48.000000,69.000000,A+,O,P,B,C,A
28,35.0,11.000000,23.000000,54.000000,52.000000,14.000000,F,F,F,B,B,F
29,75.0,75.000000,49.000000,54.000000,42.000000,90.000000,A+,A+,C,B,P,O
30,82.0,51.836735,57.000000,54.000000,51.000000,32.000000,O,B,B+,B,B,F
31,64.0,75.000000,38.000000,54.000000,55.000000,86.000000,A,A+,F,B,B+,O
32,95.0,34.000000,67.000000,54.000000,41.000000,15.000000,O,F,A,B,P,F
33,45.0,71.000000,46.000000,54.000000,44.000000,88.000000,C,A+,C,B,P,O
34,66.0,5.000000,21.000000,54.000000,57.000000,39.000000,A,F,F,B,B+,F
35,82.0,88.000000,44.040817,54.000000,46.000000,97.000000,O,O,P,B,C,O
36,98.0,7.000000,50.000000,57.000000,58.000000,24.000000,O,F,B,B+,B+,F
37,92.0,73.000000,22.000000,57.000000,55.000000,68.000000,O,A+,F,B+,B+,A
38,85.0,10.000000,34.000000,58.000000,60.000000,17.000000,O,F,F,B+,A,F
39,93.0,72.000000,50.000000,58.000000,46.000000,85.000000,O,A+,B,B+,C,O
40,51.0,5.000000,68.000000,59.000000,55.000000,23.000000,B,F,A,B+,B+,F
41,62.0,93.000000,18.000000,59.000000,41.000000,69.000000,A,O,F,B+,P,A
42,85.0,40.000000,48.000000,60.000000,49.000000,8.000000,O,P,C,A,C,F
43,67.0,87.000000,40.000000,60.000000,40.000000,91.000000,A,O,P,A,P,O
44,64.0,12.000000,32.000000,60.000000,42.000000,16.000000,A,F,F,A,P,F
45,39.0,97.000000,24.000000,60.000000,52.000000,79.000000,F,O,F,A,B,A+
46,63.0,36.000000,47.000000,60.000000,47.000000,28.000000,A,F,C,A,C,F
47,57.0,74.000000,27.000000,60.000000,50.000000,74.000000,B+,A+,F,A,B,A+
48,45.0,22.000000,48.000000,61.000000,42.000000,18.000000,C,F,C,A,P,F
49,45.0,90.000000,20.000000,61.000000,49.000000,83.000000,C,O,F,A,C,O

In [20]:
v1=d["Subject1 Marks"]
v2=d["Subject2 Marks"]
v3=d["Subject3 Marks"]
v4=d["Subject4 Marks"]
v5=d["Subject5 Marks"]
v6=d["Subject6 Marks"]
total=v1+v2+v3+v4+v5+v6
df_t=pd.DataFrame(total)
df_t=df_t.rename(columns={0:"Total marks"})
pd.options.display.float_format = '{: .1f}'.format
df_t

    Total marks
0         278.0
1         306.0
2         246.0
3         374.0
4         292.0
5         347.0
6         330.3
7         346.0
8         214.8
9         362.0
10        289.0
11        321.0
12        303.9
13        339.0
14        313.0
15        321.0
16        270.0
17        359.0
18        282.0
19        306.0
20        339.0
21        293.0
22        324.0
23        414.0
24        259.0
25        353.0
26        234.0
27        382.0
28        189.0
29        385.0
30        327.8
31        372.0
32        306.0
33        348.0
34        242.0
35        411.0
36        294.0
37        367.0
38        264.0
39        404.0
40        261.0
41        342.0
42        290.0
43        385.0
44        226.0
45        351.0
46        281.0
47        342.0
48        236.0
49        348.0

In [21]:
l0=[]
for i in df_t['Total marks']:
    z=i/6
    l0.append(z)
l0
marks=pd.DataFrame(l0)
marks=marks.rename(columns={0:"Total marks"})
pd.options.display.float_format = '{: .0f}'.format
marks['Total marks']
marks['Total marks'] = marks['Total marks'].astype(int)

In [22]:
l=[]
for z in marks['Total marks']:
    if(z>=80 and z<=100):
        l.append("O")
    elif(z>=70 and z<=79):
        l.append("A+")
    elif(z>=60 and z<=69):
        l.append("A")   
    elif(z>=55 and z<=59):
        l.append("B+")  
    elif(z>=50 and z<=54):
        l.append("B")  
    elif(z>=45 and z<=49):
        l.append("C")
    elif(z>=40 and z<=44):
        l.append("P")
    elif(z>=0 and z<=39):
        l.append("F")
cgpa=pd.DataFrame(l)
cgpa=cgpa.rename(columns={0:"CGPA"})
cgpa

   CGPA
0     C
1     B
2     P
3     A
4     C
5    B+
6    B+
7    B+
8     F
9     A
10    C
11    B
12    B
13   B+
14    B
15    B
16    C
17   B+
18    C
19    B
20   B+
21    C
22    B
23    A
24    P
25   B+
26    F
27    A
28    F
29    A
30    B
31    A
32    B
33   B+
34    P
35    A
36    C
37    A
38    P
39    A
40    P
41   B+
42    C
43    A
44    F
45   B+
46    C
47   B+
48    F
49   B+

In [23]:
final_df=pd.concat([names,d,df_t,cgpa],axis=1)
final_df

,Id,Name,Gender,Subject1 Marks,Subject2 Marks,Subject3 Marks,Subject4 Marks,Subject5 Marks,Subject6 Marks,Grade for sub1,Grade for sub2,Grade for sub3,Grade for sub4,Grade for sub5,Grade for sub6,Total marks,CGPA
0,1,Klaus,Male,77,41,49,42,52,17,A+,P,C,P,B,F,278,C
1,2,Elijah,Male,35,48,33,42,60,88,F,C,F,P,A,O,306,B
2,3,Rebekah,Female,39,59,31,43,54,20,F,B+,F,P,B,F,246,P
3,4,Caroline,Female,81,55,59,43,60,76,O,B+,B+,P,A,A+,374,A
4,5,Haily,Female,82,56,50,43,45,16,O,B+,B,P,C,F,292,C
5,6,Elena,Female,85,42,47,43,41,89,O,P,C,P,P,O,347,B+
6,7,Bonnie,Female,83,50,51,44,50,52,O,B,B,P,B,B,330,B+
7,8,Ester,Female,63,46,69,44,46,78,A,C,A,P,C,A+,346,B+
8,9,Finn,Male,41,43,27,52,51,1,P,P,F,B,B,F,215,F
9,10,Tsunade,Female,96,48,53,46,46,73,O,C,B,C,C,A+,362,A
10,11,Jiraya,Male,30,52,70,46,56,35,F,B,A+,C,B+,F,289,C
11,12,Sakura,Female,64,54,19,46,55,83,A,B,F,C,B+,O,321,B
12,13,hinata,Female,44,42,67,47,52,52,P,P,A,C,B,B,304,B
13,14,himawari,Female,40,46,54,47,59,93,P,C,B,C,B+,O,339,B+
14,15,Boruto,Male,77,48,63,48,51,26,A+,C,A,C,B,F,313,B
15,16,Thomas Shelby,Male,71,50,18,48,59,75,A+,B,F,C,B+,A+,321,B
16,17,Linda,Female,66,43,43,48,50,20,A,P,P,C,B,F,270,C
17,18,Aurthur,Male,41,59,68,48,48,95,P,B+,A,C,C,O,359,B+
18,19,Jackson,Male,86,43,19,48,59,27,O,P,F,C,B+,F,282,C
19,20,Veronica,Female,59,57,32,48,47,63,B+,B+,F,C,C,A,306,B
20,21,Naruto,Male,96,56,70,49,55,13,O,B+,A+,C,B+,F,339,B+
21,22,Sasuke,Male,40,40,47,49,42,75,P,P,C,C,P,A+,293,C
22,23,Sarada,Female,97,58,60,50,49,10,O,B+,A,B,C,F,324,B
23,24,Minato,Male,65,91,60,50,56,92,A,O,A,B,B+,O,414,A
24,25,Kushina,Female,57,29,59,54,47,13,B+,F,B+,B,C,F,259,P
25,26,Hashirama,Male,56,77,26,54,54,86,B+,A+,F,B,B,O,353,B+
26,27,Chio,Female,32,35,45,54,53,15,F,F,C,B,B,F,234,F
27,28,Gara,Male,76,95,40,54,48,69,A+,O,P,B,C,A,382,A
28,29,Ino,Female,35,11,23,54,52,14,F,F,F,B,B,F,189,F
29,30,Hope,Female,75,75,49,54,42,90,A+,A+,C,B,P,O,385,A
30,31,Kol,Male,82,52,57,54,51,32,O,B,B+,B,B,F,328,B
31,32,Katherine,Female,64,75,38,54,55,86,A,A+,F,B,B+,O,372,A
32,33,Damon,Male,95,34,67,54,41,15,O,F,A,B,P,F,306,B
33,34,Stefan,Male,45,71,46,54,44,88,C,A+,C,B,P,O,348,B+
34,35,Nicko Robin,Female,66,5,21,54,57,39,A,F,F,B,B+,F,242,P
35,36,Nami,Female,82,88,44,54,46,97,O,O,P,B,C,O,411,A
36,37,Boa Hancock,Female,98,7,50,57,58,24,O,F,B,B+,B+,F,294,C
37,38,Chloe,Female,92,73,22,57,55,68,O,A+,F,B+,B+,A,367,A
38,39,Mia,Female,85,10,34,58,60,17,O,F,F,B+,A,F,264,P
39,40,Ella Lopez,Female,93,72,50,58,46,85,O,A+,B,B+,C,O,404,A
40,41,Trixie,Female,51,5,68,59,55,23,B,F,A,B+,B+,F,261,P
41,42,Lufy,Male,62,93,18,59,41,69,A,O,F,B+,P,A,342,B+
42,43,Zoro,Male,85,40,48,60,49,8,O,P,C,A,C,F,290,C
43,44,Jasmine,Female,67,87,40,60,40,91,A,O,P,A,P,O,385,A
44,45,Lilly,Female,64,12,32,60,42,16,A,F,F,A,P,F,226,F
45,46,Davina,Female,39,97,24,60,52,79,F,O,F,A,B,A+,351,B+
46,47,Freya,Female,63,36,47,60,47,28,A,F,C,A,C,F,281,C
47,48,Camila,Female,57,74,27,60,50,74,B+,A+,F,A,B,A+,342,B+
48,49,Sophie,Female,45,22,48,61,42,18,C,F,C,A,P,F,236,F
49,50,Mary,Female,45,90,20,61,49,83,C,O,F,A,C,O,348,B+

In [24]:
final_df.to_excel('GradesOutput.xlsx')